/* contents */
.content {
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

#contents .code_btn {
    gap: 2.4rem;
    margin-bottom: 2.8rem;
}

#contents .code_btn .code,
#contents .code_btn .border,
#contents .code_btn .pide {
    width: 50px;
    height: 20px;
    border-radius: 20%;
}

#contents .code_btn .code {
    background-color: var(--pointColor1-1);
}

#contents .code_btn .border,
#contents .code_btn .pide {
    background-color: var(--white);
}

#contents {
    padding-bottom: 10.8rem;
    box-sizing: inherit;
}

.content {
    margin: 0 auto;
}

.contetns_wrap {
    width: 100%;
}

/* Mypage */
.Mypage_header {
    padding: 4.2rem 3.2rem 2rem;
}

.Mypage_tap {
    gap: 2.4rem;
    margin-bottom: 2.8rem;
    display: flex;
    justify-content: center;
}

.Mypage_tap a .active {
    background-color: var(--pointColor3);
    color: var(--white);
}

.Mypage_code,
.Mypage_board,
.Mypage_feed {
    width: 7.4rem;
    height: 3rem;
    background-color: var(--white);
    border-radius: 10rem;
    color: var(--black);
    font-weight: 700;
    cursor: pointer;
}

/* Mypage_info */
.Mypage_info {
    width: 100%;
    background-color: var(--white);
    border-radius: 3.2rem;
}

.Mypage_info_codes {
    width: 100%;
    padding: 1rem 1.6rem 2.6rem;
    border-radius: 3.6rem;
    background-color: var(--white);
    min-height: 60rem;
    max-width: 144rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.MyPage_info_items {
    margin: 0 1.2rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Mypage_count {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--black600);
    line-height: 3.2rem;
}

.Mypage_count p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

/* Mypage_addItem */
.Mypage_addItem {
    gap: 0.5rem;
    width: 8rem;
    height: 3rem;
    border-radius: 1.2rem;
    background-color: hsla(0, 0%, 90%, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mypage_addItem img {
    width: 1.2rem;
    height: 1.2rem;
    display: block;
}

.Mypage_addItem span {
    color: var(--black600);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

/* addItem_outcontainer */
.addItem_outcontainer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(18, 19, 20, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.addItem_modal {
    width: 40rem;
}

/* addItem_popup */
.addItem_modal .addItem_popup {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.addItem_popup_top {
    width: 100%;
    height: 6rem;
    padding: 1.8rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popup_top_title {
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem;
    margin: 0 auto;
    color: var(--pointColor3);
}

.popup_top_close {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    cursor: pointer;
}

.popup_top_close img {
    width: 2rem;
    height: 2rem;
    background-color: transparent;
}

/* addItem_popup_contents */
.addItem_popup_contents {
    padding: 0 3rem;
}

.popup_contents_codename {
    font-size: 1.3rem;
    font-weight: 400;
}

.contenst_codename,
.popup_contents_text {
    width: 100%;
    border-radius: 1.2rem;
    border: 0.2rem solid hsla(0, 0%, 90%, 0.6);
    background-color: hsla(0, 0%, 90%, 0.6);
    margin-top: 10px;
    padding-left: 20px;
}

.popup_contents_text {
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* addItem_popup_bottom */
.addItem_popup_bottom {
    padding: 0 3rem;
}

.addItem_save {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    border-radius: 1.2rem;
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
}

.addItem_save span {
    font-size: 1.1rem;
}

.addItem_save:hover {
    background-color: var(--pointColor3);
}

/* Code_Grid */
.Code_Grid {
    display: grid;
    justify-content: center;
    grid-row-gap: 1.6rem;
    row-gap: 1.6rem;
    grid-column-gap: 1.8rem;
    column-gap: 1.8rem;
    max-width: 144rem;
    width: 100%;
    grid-template-columns: repeat(1, minmax(16.6rem, 24.8rem));
}

@media (min-width: 281px) {
    .Code_Grid {
        grid-template-columns: repeat(2, minmax(11.55rem, 27.6rem));
    }
}

@media (min-width: 525px) {
    .Code_Grid {
        grid-template-columns: repeat(3, minmax(14.4rem, 48rem));
    }
}

@media (min-width: 996px) {
    .Code_Grid {
        grid-template-columns: repeat(5, minmax(16.6rem, 27.8rem));
    }
}

.item_out_Container {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.item_container {
    position: relative;
}

/* item_square */
.item_square {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    border-radius: 2.4rem;
    overflow: hidden;
}

.item_square img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--white);
}

.item_square .item_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.05);
}

.item_square .item_overlay:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

/* item_edit_Container */
.item_edit_Container {
    position: relative;
    top: 80%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 12px;
    z-index: 1;
}

.item_editButton_Container {
    padding-right: 5%;
}

.item_edit {
    position: static;
    bottom: 13px;
    right: 13px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: hsla(0, 0%, 100%, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.item_edit img {
    width: 25px;
    height: 25px;
    color: transparent;
}

/* ItemEditModal */
.ItemEditModal_container {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: transparent;
    display: none;
    z-index: 1000;
}

.ItemEditModal_menu {
    width: 160px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 6px;
    border-radius: 20px;
    box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.2);
    background-color: var(--white);
    z-index: 1001;
}

.ItemEditModal_Item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 54px;
    padding: 12px;
    border-radius: 12px;
    gap: 12px;
    background-color: var(--white);
    cursor: pointer;
}

.ItemEditModal_Item:hover {
    background-color: #acacac;
    color: var(--white);
}

.ItemEditModal_Item img {
    width: 25px;
    height: 25px;
}

.ItemEditModal_Item p {
    font-size: 16px;
    font-weight: 500;
    line-height: 36px;
}

/* item_gap */
.item_gap {
    height: 0.6rem;
}

.item_text {
    padding: 0.4rem;
    overflow: hidden;
}

.item_text .item_name,
.item_text .item_memo {
    font-family: var(--fontM);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item_text .item_name {
    font-size: 20px;
}

.item_text .item_memo {
    font-size: 16px;
}

.Code_Grid a {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

/* Modal 스타일 */
.Modal_outerContainer {
    width: 100vw;
    height: 100vh;
    background-color: rgba(18, 19, 20, .5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
}

/* Modal 콘텐츠 스타일 */
.Modal_container {
    width: 42rem;
    position: static;
    background-color: #fff;
    border-radius: 3rem;
    box-shadow: 0 0.4rem 1.6rem 0 rgba(0, 0, 0, 0.2);
}

.ItemEditPopup_container {
    width: 46rem;
    height: 50rem;
    border-radius: 3.6rem;
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    background-color: #fff;
    top: 0;
}

.ItemEditPopup_top {
    height: 7.6rem;
    width: 46rem;
    border-radius: 3rem 3rem 0 0;
    position: static;
    padding: 4rem 4rem 2.4rem;
    border-bottom: .1rem solid #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    z-index: 999;
}

.ItemEditPopup_title {
    font-size: 2.8rem;
    line-height: 3.2rem;
}

.ItemEditPopup_closeIcon {
    width: 2.4rem;
    height: 2.4rem;
}

/* ItemEditPopup_list */
.ItemEditPopup_list {
    padding: 2.4rem 3.2rem 2rem;
    margin-bottom: 16.1rem;
    overflow: scroll;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.ItemEditPopup_add {
    padding: .8rem 1.6rem;
    border-radius: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.2rem;
}

.ItemEditPopup_add .ItemEditPopup_buttonContainer {
    width: 4.8rem;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ItemEditPopup_add .ItemEditPopup_button {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e6e6e6;
}

.ItemEditPopup_add .ItemEditPopup_button {
    width: 2rem;
    height: 2rem;
}

.ItemEditPopup_icon {
    width: 2rem;
    height: 2rem;
}

.ItemEditPopup_text {
    font-size: 1.6rem;
    font-weight: 500;
    color: #565656;
    opacity: .6;
}

/* .ItemEditPopup_bucket */
.ItemEditPopup_bucket {
    padding: .8rem 1.6rem;
    border-radius: 1.2rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1.6rem
}

.ItemEditPopup_thumb {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 1.8rem;
    background-color: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ItemEditPopup_image {
    width: 4.8rem;
    height: 4.8rem;
    border-radius: 1.8rem;
    object-fit: cover;
    border: .1rem solid #e6e6e6;
}

.ItemEditPopup_content {
    display: flex;
    align-items: center;
    gap: .8rem;
}

.ItemEditPopup_text {
    font-size: 1.6rem;
    font-weight: 500;
    color: #565656;
}

/* ItemEditPopup_bottom */
.ItemEditPopup_bottom {
    position: absolute;
    padding: 2rem 0 2.8rem;
    gap: 2rem;
    width: 46rem;
    border-radius: 0 0 3.6rem 3.6rem;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    border-top: .1rem solid #e6e6e6;
    background-color: #fff;
}

.ItemEditPopup_delete {
    padding: 0 4.75rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ItemEditPopup_text {}

.ItemEditPopup_title {
    font-size: 1.6rem;
    font-weight: 600;
    color: #565656;
    margin-bottom: .6rem;
}

.ItemEditPopup_desc {
    font-size: 1.4rem;
    font-weight: 400;
    opacity: .6;
}

.ItemEditPopup_desc .ItemEditPopup_button {
    position: relative;
    width: 4.4rem;
    height: 4.4rem;
    border-radius: 1.2rem;
    background-color: hsla(0, 0%, 90%, .6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.ItemEditPopup_image {
    width: 2rem;
    height: 2rem;
}

.ItemEditPopup_save {
    padding: 0 4.75rem;
    width: 100%;
}

.ItemEditPopup_save .ItemEditPopup_button {
    width: 100%;
    height: 4.8rem;
    border-radius: 1.2rem;
    background-color: #7f50ff;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 나머지 Modal 관련 스타일 유지 */